{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="hero">

</div>
<div class="points">
    <h2>Why Petsback?</h2>
    <div class="point">
        <i class="fas fa-map-marker-alt"></i>
        <p>Uh, you mean nobody's asked you? That's him. 
            Say, why do you let those boys push you around like that? 
            Marty. Marty. Marty. What did your mother ever see in that kid?
        </p>
    </div>
    <div class="point">
        <i class="fas fa-bell"></i>
        <p>Uh, you mean nobody's asked you? That's him. 
                Say, why do you let those boys push you around like that? 
                Marty. Marty. Marty. What did your mother ever see in that kid?
        </p>
    </div>
    <div class="point">
        <i class="fas fa-paw"></i>
        <p>Uh, you mean nobody's asked you? That's him. 
                Say, why do you let those boys push you around like that? 
                Marty. Marty. Marty. What did your mother ever see in that kid?
        </p>
    </div>
    <div class="point">
        <i class="fas fa-qrcode"></i>
        <p>Uh, you mean nobody's asked you? That's him. 
                Say, why do you let those boys push you around like that? 
                Marty. Marty. Marty. What did your mother ever see in that kid?
        </p>
    </div>
</div>

{% endblock %}