<!-- extends the layout.html file -->
{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}
<!-- main block starts here -->
{% block main %}

<div class="reg-bg">
    <div class="form-outer">
        <div class="form-inner">
            <h3>Login</h3>
            <form action="/login" method="post" novalidate>
                <!-- generates the CSRF token for security -->
                {{ form.hidden_tag() }}
                <!-- username/email form input -->
                <div class="form-group">
                    {{ form.username(size=20) }}
                    {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <!-- password form input -->
                <div class="form-group">
                    {{ form.password(size=20) }}
                    {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                    </div>
                    <a href="/login/reset_password">Forgot your password?</a>
                    {% if error_message %}
                    <span class="error">{{ error_message }}</span>
                    {% endif %}
                    
                <!-- submit button for form -->
                {{ form.submit() }}

            </form>
        </div>
    </div>
</div>


<script src="https://www.gstatic.com/firebasejs/5.8.1/firebase.js"></script>
{% endblock %}