<!-- extends the layout.html file -->
{% extends "layout.html" %}

{% block title %}
    Password Reset
{% endblock %}
<!-- main block starts here -->
{% block main %}

<div class="reg-bg">
    <div class="form-outer">
        <div class="form-inner">
            <h3>Reset Password</h3>
            <form action="/login/reset_password" method="post" novalidate>
                <!-- generates the CSRF token for security -->
                {{ form.hidden_tag() }}
                <!-- username/email form input -->
                <div class="form-group">
                    {{ form.email(size=20) }}
                    {% for error in form.email.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <!-- submit button for form -->
                {{ form.submit() }}

            </form>
        </div>
    </div>
</div>
{% endblock %}