<!-- extends the layout.html file -->
{% extends "layout.html" %}

{% block title %}
    Post
{% endblock %}
<!-- main block starts here -->
{% block main %}

{% set page = "reg-pet" %}
<div class="{{ page }}">
    <div class="post-thumb">
        <!-- if fallback is equal to true then display the fallback image via this url -->
        {% if posts['fallback'] == "true" %}
        <div class="img" style="background-image: url(http://pets-back-me.s3.eu-west-2.amazonaws.com/fallback.jpg);"></div>
        <!-- else if the fallback is false then display the image based on the ref_no passed into the page -->
        {% elif posts['fallback'] == "false" %}
        <div class="img" style="background-image: url(http://pets-back-me.s3.eu-west-2.amazonaws.com/{{ posts['ref_no'] }}.jpg);"></div>
        {% endif %}
    </div>
    <!-- using Jinja to display all data passed through from the back-end of the website via app.py -->
    <div class="post-info">
        <div class="pi-main">
            <h3>Registered <span>{{ posts['animal'] }}</span> {{ posts['name'] }}</h3>
            <h3>{{ posts['ref_no'] }}</h3>
            <h3>{{ posts['location'] }}, {{ posts['postcode'] }}</h3>
            <h4>
                <span>Age: {{ posts['age'] }}</span><span>Colour: {{ posts['colour'] }}</span>
                <span>Sex: {{ posts['sex'] }}</span><span>Breed: {{ posts['breed'] }}</span>
            </h4>
        </div>
        <div class="qr">
            <img src="http://pets-back-me.s3.eu-west-2.amazonaws.com/qr-{{ posts['ref_no'] }}.png">
            <p>This is a QR code that you can use to engrave into your pets collar.</p>
            <p>When scanned, your contact information will be displayed.</p>
        </div>
    </div>
</div>

{% endblock %}