{% extends "layout.html" %}

{% block title %}
    Posts
{% endblock %}

{% block main %}
{% set page = "posts" %}
<div class="{{ page }}">
        {% for post in posts.items %}
        <div class="posts-container">
            <div class="posts-thumb">
                <img src="http://pets-back-me.s3.eu-west-2.amazonaws.com/{{ post.refNo }}.jpg">
            </div>
            <div class="posts-info">
                <h3>{{ post.title }}</h3>
                <p>{{ post.name }}</p>
                <p>{{ post.location }}, {{ post.postcode }}</p>
                <a href="/posts/{{ post.refNo }}">Details</a>
            </div>
        </div>
        {% endfor %}

        <div class=pagination>
            {%- for page in posts.iter_pages() %}
            {% if page %}
            {% if page != posts.page %}
                <a href="{{ url_for("posts", page=page) }}">{{ page }}</a>
            {% else %}
                <strong>{{ page }}</strong>
            {% endif %}
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
            {%- endfor %}
        </div>
            </div>

{% endblock %}