{% extends "layout.html" %}

{% block title %}
    Posts
{% endblock %}

{% block main %}
{% set page = "posts" %}
<div class="{{ page }}">
        {% for post in posts %}
        <div class="posts-container">
            <div class="posts-thumb">
                <img src="http://pets-back-me.s3.eu-west-2.amazonaws.com/{{ post.refNo }}.jpg">
            </div>
            <div class="posts-info">
                <h3>{{ post.title }}</h3>
                <p>{{ post.name }}</p>
                <p>{{ post.location }}, {{ post.postcode }}</p>
                <a href="posts/{{ post.refNo }}">Details</a>
            </div>
        </div>
        {% endfor %}

        {% if paginate.has_prev %}<a href="{{ url_for('posts', page=paginate.prev_num) }}">&lt;&lt; Newer posts</a>{% else %}&lt;&lt; Newer posts{% endif %} | 
        {% if paginate.has_next %}<a href="{{ url_for('posts', page=paginate.next_num) }}">Older posts &gt;&gt;</a>{% else %}Older posts &gt;&gt;{% endif %}
</div>

{% endblock %}