<!-- extends the layout.html file-->
{% extends "layout.html" %}

<!-- page title -->
{% block title %}
    My Account
{% endblock %}

<!-- the layout.html file will load this main block -->
{% block main %}
{% set page = "Register Your Pet" %}
<div class="{{ page }}">
    <div class="top-filter">
        <h1>Register a Pet</h1>
    </div>
    <div class="pet-form">
        <form action="/register-a-pet" method="POST" enctype=multipart/form-data novalidate>
            <!-- generate the CSRF token -->
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.image.label }}
                {{ form.image }}
                {% for error in form.image.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.name.label }}
                {{ form.name }}
                {% for error in form.name.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.colour.label }}
                {{ form.colour }}
                {% for error in form.colour.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.sex.label }}
                {{ form.sex }}
                {% for error in form.sex.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
    
            <div class="form-group">
                {{ form.breed.label }}
                {{ form.breed }}
                {% for error in form.breed.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}

                <p id="myBtn">Not sure?</p>
            </div>
    
            <div class="form-group">
                {{ form.location.label }}
                {{ form.location }}
                {% for error in form.location.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.postcode.label }}
                {{ form.postcode }}
                {% for error in form.postcode.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.animal.label }}
                {{ form.animal }}
                {% for error in form.animal.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            {{ form.submit() }}
        </form>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

        <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="tf_form_outer">
                        <form id="upload-form" method="post" enctype="multipart/form-data">
                            <!-- generate the CSRF token -->
                            {{ form.hidden_tag() }}
                            <input id="file-upload" type="file" name="file">
                            <label>Upload Photo</label>
                            <button id="btnSubmit" type="button">Submit</button>
                        </form>
                    </div>
    
                    <div id="retrieve_breed"></div>
            </div>
    </div>
    
    
    
    <script src="/static/js/modal.js"></script>

{% endblock %}