<!-- extends the layout.html file -->
{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}
<!-- main block starts here -->
{% block main %}

<div class="reg-bg">
    <div class="form-outer">
        <div class="form-inner">
            <h3>Register</h3>
            <form action="/register" method="post" novalidate>
                <!-- generate the CSRF token -->
                {{ form.hidden_tag() }}
                <!-- form input for username -->
                <div class="form-group">
                    {{ form.username(size=20) }}
                    {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                    {% if username_error %}
                    <span class="error">{{ username_error }}</span>
                    {% endif %}
                </div>
                <!-- form input for email -->
                <div class="form-group">
                    {{ form.email(size=20) }}
                    {% for error in form.email.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                    {% if email_error %}
                    <span class="error">{{ email_error }}</span>
                    {% endif %}
                </div>
                <!-- form input for password -->
                <div class="form-group">
                    {{ form.password(size=20) }}
                    {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <!-- form input for password confirmation -->
                <div class="form-group">
                    {{ form.confirm(size=20) }}
                    {% for error in form.confirm.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <!-- submit button -->
                {{ form.submit() }}

            </form>
        </div>
    </div>
</div>
{% endblock %}