{% extends "layout.html" %}

{% block title %}
    Report a Pet
{% endblock %}

{% block main %}
{% set page = "missing" %}
<div class="{{ page }}">
        <form action="/report/lost" method="POST" enctype=multipart/form-data>
            <div class="form-group">
                    <input class="form-control" name="file" accept="image/*" type="file"/>
            </div>
            <div class="form-group">
                    <input class="form-control" name="title" placeholder="Title" type="text"/>
            </div>
            <div class="form-group">
                    <input class="form-control" name="name" placeholder="Name" type="text"/>
            </div>
            <div class="form-group">
                    <input class="form-control" name="age" placeholder="Age" type="text"/>
            </div>
            <div class="form-group">
                    <input class="form-control" name="colour" placeholder="Colour" type="text"/>
            </div>
            <div class="form-group">
                    <input class="form-control" name="gender" placeholder="Gender" type="text"/>
            </div>
            <div class="form-group">
                    <input class="form-control" name="breed" placeholder="Breed" type="text"/>
            </div>
            <div class="form-group">
                <select name="status">
                    <option value="select">Select</option>
                    <option value="found">Found</option>
                    <option value="missing">Missing</option>
                </select>
            </div>
            <div class="form-group">
                    <input class="form-control" name="location" placeholder="Location" type="text"/>
            </div>
            <div class="form-group">
                    <input class="form-control" name="postcode" placeholder="Postcode" type="text"/>
            </div>
            <div class="form-group">
                <select name="animal">
                    <option value="select">Select</option>
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="rabbit">Rabbit</option>
                    <option value="bird">Bird</option>
                    <option value="horse">Horse</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-group">
                    <select name="collar">
                        <option value="select">Select</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
            </div>
            <div class="form-group">
                    <select name="chipped">
                        <option value="select">Select</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="form-group">
                        <select name="neutered">
                            <option value="select">Select</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                </div>
                <div class="form-group">
                        <input type="datetime-local" name="missingSince">
                </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
{% if id %}
    <a href="/register">Register</a>
    <a href="/login">Login</a>
{% else %}
</div>

{% endblock %}