<!-- extends the layout.html file -->
{% extends "layout.html" %}

{% block title %}
    Report a Pet
{% endblock %}
<!-- main block starts here -->
{% block main %}
{% set page = "missing" %}
<div class="{{ page }}">
        <div class="top-filter">
                <h1>Report a Missing Pet</h1>
        </div>
{% if id %}
<div class="lost-form">
<form action="/create-lost" method="POST" enctype=multipart/form-data novalidate>
        <!-- generate the CSRF token -->
        {{ form.hidden_tag() }}
    <!-- form input for the image field -->
    <div class="form-group">
        {{ form.image.label }}
        {{ form.image }}
        {% for error in form.image.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the animal field -->
    <div class="form-group">
        {{ form.animal.label }}
        {{ form.animal }}
        {% for error in form.animal.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the midding field -->
    <div class="form-group">
        {{ form.missing_since.label }}
        {{ form.missing_since(**{'class': 'datepicker-here', 'data-timepicker': 'true', 'data-language': 'en', 'size': '20'} ) }}
        {% for error in form.missing_since.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the name field -->
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(size=20) }}
        {% for error in form.name.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the age field -->
    <div class="form-group">
        {{ form.age.label }}
        {{ form.age(size=20) }}
        {% for error in form.age.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the colour field -->
    <div class="form-group">
        {{ form.colour.label }}
        {{ form.colour(size=20) }}
        {% for error in form.colour.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the sex field -->
    <div class="form-group">
        {{ form.sex.label }}
        {{ form.sex }}
        {% for error in form.sex.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the breed field -->
    <div class="form-group">
        {{ form.breed.label }}
        {{ form.breed(size=20) }}
        {% for error in form.breed.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}

        <p id="myBtn">Not sure?</p>

    </div>
    <!-- form input for the location field -->
    <div class="form-group">
        {{ form.location.label }}
        {{ form.location(size=20) }}
        {% for error in form.location.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the postcode field -->
    <div class="form-group">
        {{ form.postcode.label }}
        {{ form.postcode(size=20) }}
        {% for error in form.postcode.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the collar field -->
    <div class="form-group tickbox">
        {{ form.collar.label }}
        {{ form.collar(size=20) }}
        {% for error in form.collar.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the chipped field -->
    <div class="form-group tickbox">
        {{ form.chipped.label }}
        {{ form.chipped(size=20) }}
        {% for error in form.chipped.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the neutered field -->
    <div class="form-group tickbox">
        {{ form.neutered.label }}
        {{ form.neutered(size=20) }}
        {% for error in form.neutered.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
        <!-- form submit button -->
        {{ form.submit() }}

</form>
</div>
<!-- if the user is not logged in then display only the register or login buttons -->
{% else %}
    <a class="login-reg" href="/register">Register</a>
    <a class="login-reg" href="/login">Login</a>
{% endif %}
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="tf_form_outer">
                    <form id="upload-form" method="post" enctype="multipart/form-data">
                        <!-- generate the CSRF token -->
                        {{ form.hidden_tag() }}
                        <input id="file-upload" type="file" name="file">
                        <label>Upload Photo</label>
                        <button id="btnSubmit" type="button">Submit</button>
                    </form>
                </div>

                <div id="retrieve_breed"></div>
        </div>
</div>



<script src="/static/js/modal.js"></script>

{% endblock %}