{% extends "layout.html" %}

{% block title %}
    Report a Pet
{% endblock %}

{% block main %}
{% set page = "missing" %}
<div class="{{ page }}">
        <div class="top-filter">
                <h1>Report a Missing Pet</h1>
        </div>
{% if id %}
<form action="/create-lost" method="POST" enctype=multipart/form-data novalidate>

        {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.image.label }}
        {{ form.image }}
        {% for error in form.image.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
                {{ form.animal.label }}
                {{ form.animal }}
                {% for error in form.animal.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
        </div>

        <div class="form-group">
                {{ form.missing_since.label }}
                {{ form.missing_since(**{'class': 'datepicker-here', 'data-timepicker': 'true', 'data-language': 'en', 'size': '20'} ) }}
                {% for error in form.missing_since.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
        </div>

    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(size=20) }}
        {% for error in form.name.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.age.label }}
        {{ form.age(size=20) }}
        {% for error in form.age.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.colour.label }}
        {{ form.colour(size=20) }}
        {% for error in form.colour.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.sex.label }}
        {{ form.sex(size=20) }}
        {% for error in form.sex.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.breed.label }}
        {{ form.breed(size=20) }}
        {% for error in form.breed.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.location.label }}
        {{ form.location(size=20) }}
        {% for error in form.location.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.postcode.label }}
        {{ form.postcode(size=20) }}
        {% for error in form.postcode.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.collar.label }}
        {{ form.collar(size=20) }}
        {% for error in form.collar.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.chipped.label }}
        {{ form.chipped(size=20) }}
        {% for error in form.chipped.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
        </div>

        <div class="form-group">
        {{ form.neutered.label }}
        {{ form.neutered(size=20) }}
        {% for error in form.neutered.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
        </div>

        {{ form.submit() }}

</form>
{% else %}
    <a href="/register">Register</a>
    <a href="/login">Login</a>
{% endif %}
</div>


{% endblock %}