<!-- extends the layout.html file -->
{% extends "layout.html" %}

{% block title %}
    Report a Pet
{% endblock %}
<!-- main block starts here -->
{% block main %}
{% set page = "found" %}
{{ error_message }}
<div class="{{ page }}">
        <div class="top-filter">
                <h1>Report a Found Pet</h1>
        </div>
{% if id %}
<div class="found-form">
<form action="/create-found" method="POST" enctype=multipart/form-data novalidate>
    <!-- generate the CSRF token -->
        {{ form.hidden_tag() }}
    <!-- form input for the image field -->
    <div class="form-group">
        {{ form.image.label }}
        {{ form.image }}
        {% for error in form.image.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the colour field -->
    <div class="form-group">
        {{ form.colour.label }}
        {{ form.colour(size=20) }}
        {% for error in form.colour.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the sex field -->
    <div class="form-group">
        {{ form.sex.label }}
        {{ form.sex }}
        {% for error in form.sex.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the breed field -->
    <div class="form-group">
        {{ form.breed.label }}
        {{ form.breed(size=20) }}
        {% for error in form.breed.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the location field -->
    <div class="form-group">
        {{ form.location.label }}
        {{ form.location(size=20) }}
        {% for error in form.location.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the postcode field -->
    <div class="form-group">
        {{ form.postcode.label }}
        {{ form.postcode(size=20) }}
        {% for error in form.postcode.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the animal field -->
    <div class="form-group">
        {{ form.animal.label }}
        {{ form.animal }}
        {% for error in form.animal.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the collar field -->
    <div class="form-group">
        {{ form.collar.label }}
        {{ form.collar(size=20) }}
        {% for error in form.collar.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <!-- form input for the chipped field -->
    <div class="form-group">
        {{ form.chipped.label }}
        {{ form.chipped(size=20) }}
        {% for error in form.chipped.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
        </div>
        <!-- form input for the neutered field -->
        <div class="form-group">
        {{ form.neutered.label }}
        {{ form.neutered(size=20) }}
        {% for error in form.neutered.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
        </div>
        <!-- form input for the date field -->
        <div class="form-group">
        {{ form.date_found.label }}
        {{ form.date_found(size=20) }}
        {% for error in form.date_found.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
        </div>
        <!-- submit button -->
        {{ form.submit() }}

</form>
</div>
<!-- if user is not logged in then have them register or log in -->
{% else %}
    <a class="login-reg" href="/register">Register</a>
    <a class="login-reg" href="/login">Login</a>
{% endif %}
</div>

{% endblock %}