{% extends "layout.html" %}

{% block title %}
    Update Contact Information
{% endblock %}

{% block main %}

{% set page = "update" %}
<div class="reg-bg">
        <div class="form-outer">
            <div class="form-inner {{ page }}">
                <h2>Update Info</h2>
<form action="/account/update-info" method="POST" novalidate>

    {{ form.hidden_tag() }}

    <div class="form-group">
        <p>Username:</p>
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="{{ username }}" type="text" readonly/>
    </div>

    <div class="form-group">
        <p>Email:</p>
        <input autocomplete="off" autofocus class="form-control" name="email" placeholder="{{ email }}" type="text" readonly/>
    </div>

    <div class="form-group">
        {{ form.forename.label }}
        {{ form.forename(size=20) }}
        {% for error in form.forename.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.surname.label }}
        {{ form.surname(size=20) }}
        {% for error in form.surname.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.adress.label }}
        {{ form.address(size=20) }}
        {% for error in form.address.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.postcode.label }}
        {{ form.postcode(size=20) }}
        {% for error in form.postcode.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.number.label }}
        {{ form.number(size=20) }}
        {% for error in form.number.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}  
    </div>

    {{ form.submit() }}

</form>
</div>
</div>
</div>

{% endblock %}