{% extends "layout.html" %}

{% block title %}
    My Posts
{% endblock %}

{% block main %}
{% set page = "my-posts" %}
<div class="{{ page }}">
    {% if posts %}
    {% for post in posts %}
        <div class="posts-container">
            <div class="posts-thumb">
                {% if post.fallback == "True" %}
                    <img src="http://pets-back-me.s3.eu-west-2.amazonaws.com/fallback.jpg">
                {% elif post.fallback == "False" %}
                    <img src="http://pets-back-me.s3.eu-west-2.amazonaws.com/{{ post.ref_no }}.jpg">
                {% endif %}
            </div>
            <div class="posts-info">
                <p>{{ post.name }}</p>
                <p>{{ post.location }}, {{ post.postcode }}</p>
                <a href="/posts/{{ post.ref_no }}">Details</a>
            </div>
        </div>
    {% endfor %}
    {% else %}
    You have not made any posts
    {% endif %}
</div>

{% endblock %}