{% extends "layout.html" %}

{% block title %}
    My Posts
{% endblock %}

{% block main %}
{% set page = "my-posts" %}
<div class="{{ page }}">
    {{ posts[0].name }}
    {% for post in posts.items %}
        <div class="posts-container">
            <div class="posts-thumb">
                <img src="http://pets-back-me.s3.eu-west-2.amazonaws.com/{{ post.refNo }}.jpg">
            </div>
            <div class="posts-info">
                <h3>{{ post.title }}</h3>
                <p>{{ post.name }}</p>
                <p>{{ post.location }}, {{ post.postcode }}</p>
                <a href="/posts/{{ post.refNo }}">Details</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}