body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav.navbar {
    text-align: center;
    padding: 20px;
    background: #333;
}

a {
    color: #fff;
    text-decoration: none;
}

/**
centre above
**/
.logo-outer {
    background: #333;
    text-align: center;
    padding: 10px 0 0 0;
}

.logo-nav img {width: 120px;}

.navbar a {
    margin: 0 5px;
}

/**
centre with right align


.logo-outer {
    position: relative;
    z-index: 99;
}

.logo-nav img {width: 120px;background: #3a3a3a;padding: 8px;}

.logo-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

nav.navbar {
    text-align: right;
}
**/

/******
dropdown button nav
******/
.dropdown-content {
    display: none;
}

.dropbtn:hover .dropdown-content {
    display: block;
}

.dropdown {
    display: inline-block;
}

.dropdown span {
    color: white;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    background: #dedede;
    padding: 5px 4px;
    box-shadow: 3px 3px 11px 1px #6969697a;
}

.dropdown-content a {
    display: block;
    color: #333;
    text-align: left;
    padding: 4px;
}

.dropdown-content a:hover {
    opacity: .75;
}

.dropdown:hover > .dropdown-content {
    display: block;
}
/*********
register
*********/

.reg-bg {
    background-image: url(/static/images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.form-group input {
    margin: 6px 0;
}

input.form-control {
    width: 140px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 0 8px;
}

.form-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

  .form-inner {
    background: #333333c7;
    padding: 30px 60px 50px;
    border-radius: 8px;
    color: #f5f5f5;
}

input.form-control:focus {
    outline: none;
}

form button {
    padding: 10px 40px;
    background: #f5f5f5;
    border-radius: 4px;
    margin: 18px 0 0;
}

form button:focus {
    outline: none;
}

/********
account
********/

.account a {
    color: black;
}

.account a:hover {
    color: blue;
}

input[readonly] {
    background: #b9b9b9;
}

/********
posts
********/

.posts a {
    color: #000;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.posts-container {
    border: 1px solid #333;
    width: 440px;
    margin: 40px auto;
    padding: 20px;
    height: 200px;
    position: relative;
}

.posts-thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    overflow: hidden;
}

.posts-thumb img {
    width: auto;
    height: 100%;
}

.posts-info {
    width: 49%;
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
}

.cleared {
    clear: both;
}

.posts-info a {
    text-align: left;
    border: 1px solid #333;
    padding: 10px;
    width: 20%;
    margin: 0;
}

.posts-info a:hover {
    background: #333;
    color: #fff;
}

.pagination a {
    display: inline-block;
}

.pagination {
    text-align: center;
}

/********
post
********/

.post-thumb {
    width: 100%;
    text-align: center;
}

.post-thumb img {
    width: 50%;
    border: 1px solid #333;
    padding: 10px;
    margin: 40px 0 0 0;
}

.post-info h1 {
    display: inline-block;
    width: 33%;
    margin: 0 auto;
    text-align: center;
}

/*********
create
*********/

.create .form-group {
    display: inline-block;
    width: 49%;
}

.create .form-control {
    border: 1px solid #333;
}